PATH_add ./scripts
#export VIRTUAL_ENV=~/infrastructure/ansible/.venvs
export SOPS_AGE_KEY_FILE="/workspace/homelab/secrets/sops/age-key.txt"
export ANSIBLE_CONFIG="/workspace/homelab/infrastructure/ansible/ansible.cfg"
layout python3