PATH_add ./scripts
#export VIRTUAL_ENV=~/infrastructure/ansible/.venvs
export SOPS_AGE_KEY_FILE="/workspace/secrets/sops/age-key.txt"
export ANSIBLE_CONFIG="~/homelab/ansible/ansible.cfg"
layout python3